# Configurações do servidor
PORT=3000
# Ambiente
NODE_ENV=development

# Configurações do banco de dado
PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_NAME=notificacoes_db
DB_USER=root
DB_PASSWORD=